
name: Push To Yandex Cloud

on:
  push:
    branches: [ main ]
  
  pull_request:
    branches: main
  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:    
      - name: Checkout
        uses: actions/checkout@v2
      
#       - name: IAM Token
#         id: issue-iam-token
#         uses: yc-actions/yc-iam-token@v1
#         with:
#           yc-sa-json-credentials: ${{ secrets.YC_CREDENTIALS }}
      
#       - name: Output step
#         run: echo "${{ steps.issue-iam-token.outputs.value }}"
        
#       - name: Login to Yandex Cloud Container Registry
#         uses: yc-actions/yc-cr-login@v1
#         with:
#           yc-sa-json-credentials: ${{ secrets.YC_CREDENTIALS }} 
        
#       - name: Setup Terraform
#         uses: hashicorp/setup-terraform@v1
#         with:
#           terraform_version: 1.3.9
          
      - name: Terraform Init
        id: init
        run: terraform init 

      - name: Terraform Plan
        id: plan
        run: terraform plan -var 'service_account_key_file=${{ secrets.YC_CREDENTIALS }}' -out=outplan

      - name: Output step
        run: cat outplan      
        
        
