
name: Push To Yandex Cloud

on:
  push:
    branches: [ main ]
  
  pull_request:
    branches: main
  
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
  
    steps:    
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Setup TFLINT
        uses: terraform-linters/setup-tflint@v3
      
      - name: Run TFLint    
        run: tflint -f compact
        continue-on-error: true
      
      - name: Run Checkov 
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          framework: terraform

      - name: Terraform Init
        id: init
        run: terraform init -backend-config="access_key=${{ secrets.S3_BUCKET_ACCESS_KEY }}" -backend-config="secret_key=${{ secrets.S3_BUCKET_SECTER_KEY }}"

      - name: Terraform Plan
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
        id: plan
        run: terraform plan -var 'sa_key_file=${{ secrets.YC_CREDENTIALS }}' -out=outplan
      
      - name: Terraform apply
        run: terraform apply -auto-approve "outplan"

